.card-img {
    width: 50%;
   margin-left: auto;
   margin-right: auto;
}
.expert-container{
    background-color: #f59042;
    color: #fff;
    border: 3px solid rgba(24, 98, 194, 0.692);
}
.expert-card{
    background-color: #f59042; 
    border: none;
    
}