

.navbar{
    background-color: #f59042;
    color: white;
}
.nav-item a{
    color: white !important;
    font-size: 18px;
    font-weight: 700;
}
.icon{
    color: black;
    padding: 0 15px;
    font-size: 1.5em;
}