.login {
  width: 50%;
  margin: 0 auto;
  padding: 5%;
}
.login_heading {
  text-align: center;
  font-family: Minion Pro;
  font-style: normal;
  font-weight: bold;
  line-height: 60px;
  color: #ecc598;
}
.fieldName {
  color: #fff;
  font-family: Minion Pro;
  font-style: normal;
  font-weight: bold;
  line-height: 20px;
}
