.mainProduct {
  align-items: center;
  text-align: center;
  width: 90%;
  margin: 0 auto;
}
.mainProductHeading {
  color: #ebc596;
  font-family: Minion Pro;
  font-style: normal;
  font-weight: 500;
  line-height: 52px;
}
.mainProductContent {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
}
